<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa https://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    <!--Khai bao bean-->
    <!--    <bean name="studentRepository" class="repository.StudentRepositoryImpl"></bean>-->
    <!--    <bean name="studentService" class="service.StudentServiceImpl" autowire="byName">-->
    <!--        Setter injection-->
    <!--    <property name="studentRepository" ref="studentRepository"/>-->
    <!--        Constructor injection-->
    <!--        <constructor-arg name="studentRepository" ref="studentRepository"/>-->
    <!--    </bean>-->

    <!--    Su dung annotation context-->
    <!--    Su dung annotaion-config hoac su dung component scan-->
    <!--    <context:annotation-config/>-->
    <context:component-scan base-package="com.coderzero.dao, com.coderzero.util, com.coderzero.services"/>

    <!--    Tim hieu bean scope-->
    <!--    Singleton-->
    <!--    Nguoc lai voi prototype-->
    <!--    Trong 1 spring ioc container chi tao ra 1 object cua class do.-->
    <!--    La default scope-->

    <!--    Prototype-->
    <!--    NGuoc lai voi singleton-->
    <!--    Moi mot request co 1 bean rieng de su dung-->
    <!--    Tang tinh doc lap-->
    <!--    Han che: so luong object tang len, khi so request tang len-->

    <!--    Request-->
    <!--    Session-->
    <!--    Global session-->
<!--    Cau hinh datasource dung cho tien loi viec goi connection db-->
    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/learn_hibernate" />
        <property name="username" value="root" />
        <property name="password" value="disfgycdvbfg" />
    </bean>
    <bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

<!--    Khi dung JdbcDaoSupport ta can dinh nghia bean cho class ma extend no-->
    <bean name="studentDaoSupport" class="com.coderzero.dao.StudentDaoSupport">
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--    Cấu hình hibernate-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.coderzero.models"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="show_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
            </props>
        </property>
    </bean>

<!--    Cấu hình JPA -->
<!--    Khi đinh nghĩa package repository thì không cần phải annotation trên đầu mỗi class, nó spring sẽ tự tìm trong package này-->
<jpa:repositories base-package="com.coderzero.repository" />
    <bean name="entityManagerFactory"  class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.coderzero.models"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
    </bean>
    <bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
<!--    <tx:annotation-driven/>-->
</beans>